body {
    background: black;
    margin: 0 auto;
}

.box {
    width: 200px;
    height: 200px;
    background: white;
    display: inline-block;
    
}

p {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    color: white;
    font-size: 20px;
}

.fancy {
    width: 500px;
    margin: 20px auto;
    padding: 50px;
    border: solid blue 10px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }

  h1 {
      color: white;
  }

  .fixed {
    position: fixed;
    top: 0;
    right: 0;
    width: 100px;
    height: 100px;
    background-color: blue;
  }