body {
    background: black;
    margin: 0px;
}

.box {
    width: 400px;
    height: 400px;
    background: white;
    
}

p {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    color: black;
    font-size: 20px;
}